body {
  font-family: sans-serif;
  transition: color .5s ease-in-out;
}

* {
  text-align: center;
}

button{
  cursor: pointer;
}

li{
  list-style: none;
}

.timeContainer > *{
  display: block;
  text-align: center;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.clicked {
  color: #7f8c8d;
}

.bgImg{
  z-index: -10;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}