body {
  font-family: sans-serif;
  transition: color .5s ease-in-out;
}

* {
  text-align: center;
}

button{
  cursor: pointer;
}

li{
  list-style: none;
}

h1{
  padding-top: 10%;
  font-size: 60px;
  color: #fff;
  text-shadow: #000 1px 0 10px;
}

span, p{
  color: #fff;
  text-shadow: #000 1px 0 10px;
}

.timeContainer > *{
  display: block;
  text-align: center;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.clicked {
  color: #7f8c8d;
}

.bgImg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* 고민 - 큰 폭에 맞추기 */
  z-index: -10;
}