body {
  font-family: sans-serif;
}

* {
  text-align: center;
}

.timeContainer > *{
  display: block;
  text-align: center;
}

.show{
  display: block;
}

.hide{
  display: none;
}

li{
  list-style: none;
}